SMTP_HOST=mail.yourdomain.com
SMTP_USER=leads@yourdomain.com
SMTP_PASS=your_strong_password
SMTP_PORT=465
SMTP_FROM_NAME="Godrej Vanantara Leads"
ADMIN_EMAIL=admin1@example.com,admin2@example.com
CC_EMAILS=cc1@example.com,cc2@example.com
