# Prevent viewing of sensitive files
<FilesMatch "\.(env|sql|json)$">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "^(server)\.js$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Disable directory browsing
Options -Indexes
